html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.searchInput{
    display:inline;
    width:70%
}
.searchBtn{
    padding: 0.2rem 0.75rem;
}